.form {
    padding: 1rem;
    width: 50%;
    max-width: 600px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .heading{
    font-size: 2rem;
    color: #070707;
  }
  
  .control {
    margin-bottom: 0.5rem;
    color: #ffffff;
  }
  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input,
  .control textarea {
    display: block;
    background-color:rgb(184, 177, 174);
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ffffff;
    padding: 0.25rem;
    width: 100%;
  }
  
  .actions {
    margin-top: 1rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #27415e;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #fa77a9;
    border-color: #914d67;
  }