.EducationSection {
  padding: 40px;
  background-color: #c9b041;
  color: #fff;
  text-align: center;
}

.EducationHeading {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.SectionContainer {
  display: flex;
  align-items: flex-start;
}

.ImageContainer {
  width: 40%; 
  margin-right: 20px; 
}

.img {
  width: 100%;
  object-fit: cover;
  border-bottom: 2px solid #444;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.EducationList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; 
  flex-grow: 1; 
  gap: 20px; 
}

.EducationItem {
  background-color: #c01313;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
  
}

.EducationItem:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.Qualification, .Duration {
  font-size: 1rem;
  color: #d1d1d1;
  margin: 5px 0;
}
