.EducationSection {
    text-align: center;
    margin-top: 20px;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
  }
  
  .EducationHeading {
    font-size: 35px;
    font-weight: bold;
    color: #f9f6f6;
  }
  
  .EducationList {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    color: rgb(255, 255, 255);
  }
  
  .EducationItem {
    margin: 10px;
    padding: 10px;
    font-size: 24px;
  
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
  }
  
  .Qualification {
    font-weight: bold;
  }
  
  .Duration {
    color: rgba(255, 255, 255, 0.999);
  }
  
  .img{
    border-radius: 50%;
  }
  