.EducationSection {
  padding: 40px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EducationHeading {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.FlipCard {
  background-color: transparent;
  width: 70%;
  height: 550px;
  perspective: 100px;
}

.FlipCardInner {
  position: relative;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.FlipCard:hover .FlipCardInner {
  transform: rotateY(180deg);
}

.FlipCardFront, .FlipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.FlipCardFront {
  background-color: #fff;
  color: black;
}

.FlipCardBack {
  background-color: #ffffff;
  color: rgb(10, 10, 10);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Qualification, .Duration {
  font-size: 1rem;
  color: #d1d1d1;
  margin: 5px 0;
}

.EducationContent {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
