/* CSS for Home.module.css */
.section{
  padding: 20px;
  margin: 20px 0;
  border-bottom: 2px solid #070707;
}
.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .profileCard {
    position: relative;
    max-width: 450px; 
    height: 450px;
    background: purple;
    border-radius: 10px 10px 50% 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px; 
    text-align: center;
  }
  
  .profilePicture {
    height: 250px;
    width: 250px;
    object-fit: contain;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
  }
  
  .headerSection {
    transition: all 0.5s ease-in-out;
    font-size: 25px;
  }

  .headerSection h1{
    color: rgb(250, 246, 246)
  }
  .headerSection h2{
    font-size: 25px;
    color: rgb(250, 246, 246)
  }
  
  .profileDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    opacity: 0;
    transform: translateY(-110px);
    transition: all 0.7s ease-in-out;
  }

  .profileDescription h2 {
    font-size: 16px; 
    color: rgb(250, 246, 246);
  }

  .icons {
    display: flex;
    gap: 10px;
  }
  
  .icons img {
    width: 30px;
    height: 30px; 
    color: rgba(20, 20, 20);
    transition: all 0.5s ease-in-out;
  }
  
  .profileCard:hover {
    transform: scale(1.1);
    border-radius: 10px 10px 10px 10px;
    background: rgba(255, 255, 255, 0.499);
    color: black;
  }
  
  .headerSection:hover h1{
    color: black;
  }

  .profileCard:hover .profilePicture {
    transform: translate(-150px, -50px);
    height: 120px;
    width: 120px;
    background: purple;
  }
  
  .profileCard:hover .headerSection {
    transform: translate(0px, -80px);
  }
  .profileCard:hover .headerSection h2{
    color: black;
    margin-bottom: 5px;
  }
  
  .profileCard:hover .profileDescription {
    opacity: 1;
    padding: auto;
  }
  .profileCard:hover .profileDescription h2 {
    color: black;
  }
  
  .icons img:hover {
    color: rgb(173, 47, 47);
    transform: scale(1.2);
    animation: shake 0.5s ease-in-out forwards;
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(3px);
    }
    50% {
      transform: translateX(0px);
    }
    75% {
      transform: translateX(-3px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
 
  