.projectsSection {
    padding: 40px;
    color: #fff; 
    text-align: center;
  }
  
  .heading {
    font-size: 3rem;
    color: #ffffff;
  }
  
  .projectsGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .projectCard {
    display: block;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
  }
  
  .projectCard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .projectImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .projectTitle {
    padding: 10px;
    background-color: #dd6ef3;
    font-size: 1.2rem;
    font-weight: bold;
  }
  